
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
    cursor: pointer;
}
.asc::after {
    content: " \25B2"; /* Triangolino verso l'alto */
}
.desc::after {
    content: " \25BC"; /* Triangolino verso il basso */
}

.header {
    margin: 25px;
}
