{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}
<script defer src="https://eu.umami.is/script.js" data-website-id="fe02efa4-f44f-407b-bb6a-c98636030e53"></script>
<script src="https://kit.fontawesome.com/4c0de2340c.js" crossorigin="anonymous"></script>
